.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin-default);
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 5%;
}

.sectionTitle h1 {
  color: var(--text-color);
}
