.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: rgb(242, 244, 248);
    background-color: #212830;
    border-radius: 10px;
    width: 110px;
    height: 75px;
    color: #FFF;
    font-weight: medium;
}

.buscar:hover {
    background: #4CAF50;
}