.buscar {
    width: 80%;
    height: 45px;
    background: #212830;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Solway', serif;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.buscar:hover {
    background: #4CAF50;
}