.episodesContainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 4rem;
    gap: 1.5rem;
}

.filters{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.selectionContainer {
    display: flex;
    gap: 5%;
}

.pageContainer{
    margin: var(--margin-default);
}

.resultText {
    font-size: var(--font-medium);
    font-weight: bold;
}

.nextPageContainer {
    margin-left: 50px;
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
} 