.episodesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1.5rem;

}

.filters{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.selectionContainer {
    display: flex;
    gap: 5%;
}

.pageContainer{
    margin: var(--margin-default);
}

.resultText {
    font-size: var(--font-medium);
    font-weight: bold;
}

.nextPageContainer {
    margin-left: 50px;
}