.busca {
    display: flex;
    border: 2px solid #F2F4F8;
    border-radius: 5px;
    align-content: center;
    height: 40px;
    background-color: #3A404C;
    color: #FFFFFF;
    padding: 15px 0px;
}

.searchBar {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    font-family: 'Solway', serif;
}

.searchBar img {
    width: 47px; 
    height: 40px; 
    margin-right: 10px;
}

input {
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
}

.lupa {
    width: 40px;
    height: 40px;
}