.cardsContainer {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.selectionContainer {
  display: flex;
  gap: 2%;
}

.characterContainer {
  margin: var(--margin-default);
  box-sizing: border-box;
}

.searchSet {
  display: flex;
  margin-right: 5%;
  gap: 40px;
}

.resultText {
  font-size: var(--font-medium);
  font-weight: bold;
}
