.locationsContainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 4rem;
    gap: 1.5rem;
}
    
.selectionContainer {
    display: flex;
    margin-top: 20px;
    gap: 2%;
    
}

.pageContainer {
    margin: var(--margin-default);
    box-sizing: border-box;
}
  
.resultText {
    font-size: var(--font-medium);
    font-weight: bold;
  }

.searchSet {
    display: flex;
    margin-right: 5%;
    gap: 40px;
}

.nextPageContainer {
    margin-left: 50px;
}